swagger: "2.0"
info:
  title: Gateway API
  description: Interacting with Piazza Core Services
  version: "0.1.0"
  contact: 
    name: Patrick Doody
    email: patrick.doody@rgi-corp.COM
    url: github.com/venicegeo
host: gateway.dev:8081
schemes:
  - http
produces:
  - application/json
consumes:
  - multipart/form-data
paths:
  /job:
    post:
      summary: Piazza Job Service
      description: "Every request to the Piazza Core is represented as a Job that is consumed by this endpoint."
      parameters:
        - name: body
          in: formData
          description: Job request information, outlining the user request for ingesting, accessing, executing, or other core service actions.
          required: true
          schema:
            $ref: "#/definitions/PiazzaJobRequest"
        - name: file
          in: formData
          description: If ingesting local data; the file to be ingested.
          required: false
          type: file
          format: binary
      tags:
        - Job
      responses:
        200:
          description: Information regarding the requested Job. At bare minimum, this will contain the Job ID of the Job that has been spawned as a result of the POSTed message. If more information is available, such as Status, it will also be included.
        default:
          description: Internal server error
definitions:
  PiazzaJobRequest: 
    type: object
    required:
      - apiKey
      - jobType
    properties:
      apiKey: 
        type: string
        format: uuid
        description: The API Key associated with the requesting user or group. The API Key is used for authentication and authorization within the system, and must be specified with every request to the Gateway.
      jobType:
        $ref: "#/definitions/JobType"
  JobType:
    type: object
    discriminator: type
    required:
      - type
    properties:
      type:
        type: string
        description: The Type of the Job to perform.
  AbortJob:
    description: Request the cancellation of an ongoing Job.
    required:
      - type
    allOf:
      - $ref: "#/definitions/JobType"
      - type: object
        properties:
          jobId:
            type: string
            format: uuid
            description: The ID of the Job to be cancelled.
          reason:
            type: string
            description: The reason for cancelling the Job.
  GetJob:
    description: Request the status of a Job in the system.
    required:
      - type
    allOf:
      - $ref: "#/definitions/JobType"
      - type: object
        properties:
          jobId:
            type: string
            format: uuid
            description: The ID of the Job to obtain status for.
  PiazzaResponse:
    type: object